<!-- templates/fragments/footer.html -->
<div th:fragment="footer">
    <footer class="bg-dark pt-5 pb-3 mt-auto">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4 text-center">
                    <h2 class="h2 text-primary logo mb-4">TicoMarket</h2>
                    <ul class="list-unstyled text-light">
                        <li><i class="fas fa-map-marker-alt me-2"></i>Siquirres, Limón, Costa Rica</li>
                        <li><i class="fa fa-phone me-2"></i><a class="text-light" href="tel:88000340">8800 0370</a></li>
                        <li><i class="fa fa-envelope me-2"></i><a class="text-light" href="mailto:marketico@gmail.com">TicoMarket@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-md-start text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a class="text-light" href="https://www.facebook.com/cr7cristianoronaldo" target="_blank"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-light" href="https://www.instagram.com/cr7selfie_official/" target="_blank"><i class="fab fa-instagram fa-lg fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-light" href="https://x.com/Cristiano" target="_blank"><i class="fab fa-twitter fa-lg fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="text-light" href="https://www.linkedin.com/feed/" target="_blank"><i class="fab fa-linkedin fa-lg fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="text-center mt-4">
                <small class="text-light">&copy; 2025 TicoMarket. Todos los derechos reservados.</small>
            </div>
        </div>
    </footer>

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
</div>
